.homepage-container {

    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 7fr 1fr;
    background-color: #121212;
    overflow: hidden;
    /* color: white; */
}

.playlist-side {
    grid-row: 1;
    grid-column: 1;
    background-color: #19022ded;
    /* border: 1px solid #fff; */
    box-shadow: 5px 0px 2px #090f1f;
}

.home-side {
    grid-row: 1;
    grid-column: 2;
    background-color: rgba(33, 3, 63, 0.878);
    /* border: 1px solid #fff; */
}

.song-player {
    grid-row: 2;
    grid-column: span 2;
    background-color: #500f8870;
    /* border: 1px solid #fff; */
    box-shadow: 5px 0px 2px #090f1f;

    
}