.playlist-side {
    color: #fff;
    height: 100%;
    background: linear-gradient(to bottom, #410857cf, #16082566);
}

.playlist-side .gramophone {
    display: flex;
    align-items: center;
}

.playlist-side h1 {
    font-size: 40px;
    margin: 20px 0px 0px 30px;
    font-weight: 500;
}

.playlist-side p {
    font-size: 10px;
}

.playlist-side .playlists {

    margin: 30px 0px 0px 30px;
}

.playlist-side .playlists h4 {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s  linear;
}

.playlist-side .playlists h4:hover {
    color: white;
}

.playlist-side .playlists h4 span {
    position: relative;
    margin-right: 35px;
}

.playlist-side .playlists h4 span::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius:  50%;
    top: -4px;
    transition: .3s linear;
}

.playlist-side .playlists h4:hover span::before {
    border: 2px solid #fff;
}

.playlist-side .playlists h4 .music-note {
    display: None;
}

.playlist-side .playlists .active {
    color: #36e2ec;
}

.playlist-side .playlists .active span {
    display: none;
}

.playlist-side .playlists .active .music-note {
    display: flex;
    margin-right: 20px;
}

.playlist-side .songs-list {
    width: 100%;
    height: 550px;
    /* border: 1px solid #fff; */
    margin-top: 0;
    overflow: auto;
}

.playlist-side h3 {
    margin: 0px 5px 0px 20px;
}

.playlist-side .songs-list::-webkit-scrollbar {
    width: 3px;
    background-color: #19022ded;
}

.playlist-side .songs-list::-webkit-scrollbar-thumb {
    background-color: #4c5262;
    border-radius: 2px;
}

.playlist-side .songs-list li {
    height: 80px;
    list-style: none;
    position: relative;
    padding: 0px 0px 0px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
    transition: .3s linear;
}

.playlist-side .songs-list li:hover {
    background-color: rgba(105, 105, 105, .1);
}

.playlist-side .songs-list li span {
    font-size: 30px;
    font-weight: 600;
    color: #4c5262;

}

.playlist-side .songs-list li img {
    width: 40px;
    height: 40px;
    margin-left: 25px; 

}

.playlist-side .songs-list li h5 {
    font-size: 20px;
    margin-left: 15px;
    width: 55%;
    /* border: 1px solid #fff; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.playlist-side .songs-list li .artist-name {
    font-size: 15px;
    color: #4c5262;
    margin-top: 7px;
}

.playlist-side .songs-list li  .song-play-btn {
    font-size: 25px;
    position: absolute;
    right: 20px;
}