.player {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    background: linear-gradient(to right, #17063770, #500f8870);
}

.player .wave {
    width: 30px;
    height: 30px;
    /* border: 1px solid #fff; */
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

.player .wave .wave1 {
    width: 3px;
    height: 10px;
    background-color: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    /* animation: wave .5s linear infinite; */
    animation: unset;
}

.player .wave .wave1:nth-child(2) {
    height: 13px;
    margin-right: 3.5px;
    animation: .4s;
}

.player .wave .wave1:nth-child(3) {
    height: 8px;
    animation: .8s;
}

/* something with js here */
.player .active1 .wave1 {
    animation: wave .5s linear infinite;
}

.player .active1 .wave1:nth-child(2) {
    animation: .4s;
}

.player .active1 .wave1:nth-child(3) {
    animation: .8s ;
}

@keyframes wave {
    0% {
        height: 10px;
    }

    50% {
        height: 15px;
    }

    100% {
        height: 10px;
    }
}

.player img {
    width: 60px;
    height: 60px;
}

.player h5 {
    width: 250px;
    /* border: 1px solid #fff; */
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
}

.player h5 .artist-name {
    font-size: 15px;
    margin-top: 7px;
    color: #606983;
    width: 100%;
    /* overflow: hidden; */
    text-overflow: ellipsis;
    white-space: nowrap;
    /* animation: move 5s linear infinite; */
}

@keyframes move {
    0% {
      transform: translateX(0%); /* Start from the left side of the container */
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
      transform: translateX(-100%); /* Move to the right side of the container */
    }
  }

.icons {
    font-size: 22px;
    color: #fff;
    margin: 0px 10px 0px 10px;
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#play-btn {
    font-size: 27px;
}

#download-btn {
    font-size: 25px;
}

.player span {
    color: #fff;
    width: 35px;
    /* border: 1px solid #fff; */
    font-size: 15px;
    font-weight: 400;
}

.player #current-time {
    margin: 0px 5px 0px 20px;
}

.player #remain-time {
    margin: 0px 0px 0px 10px;
}

.player .seek-bar {
    position: relative;
    width: 50%;
    height: 2px;
    background-color: rgba(105, 105, 170, .1);
    margin: 0px 0px 0px 10px;
}

.player .seek-bar .seek-bar2 {
    position: absolute;
    background-color: #e23f12;
    width: 50%;
    height: 100%;
    top: 0px;
    transition: .5s linear;
}

.player .seek-bar .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #e23f12;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: .5s linear; 
}

.player .seek-bar .dot::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -8px;
    top: -8px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}

.player .seek-bar input {
    position: absolute;
    width: 100%;
    top: -8.5px;
    left: 0px;
    cursor: pointer;
    z-index: 999999999999;
    /* transition: ; */
    opacity: 0;
}

.player .volume {
    position: relative;
    width: 100px;
    height: 2px;
    background-color: rgba(105, 105, 170, .1);
    margin-left: 50px;
}

.player .volume #vol-icons {
    position: absolute;
    color: #fff;
    font-size: 24px;
    top: -11px;
    left: -38px;
    cursor: pointer;
}

.player .volume input {
    position: absolute;
    width: 100px;
    top : -10px;
    left: 0;
    cursor: pointer;
    z-index: 9999999;
    opacity: 0;
}

.player .volume .vol-bar {
    position: absolute;
    background-color: #e23f12;
    width: 50%;
    height: 100%;
    top: 0;
    transition: .3s linear;
}

.player .volume .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #e23f12;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: .3s linear;
}

.player .volume .dot::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -8px;
    top: -7.5px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}

.player #add-song {
    /* position: absolute; */
    color: #fff;
    font-size: 23px;
    margin-left: 30px;
}